<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success trust chain</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Success</h1>
<p>The action was successful!</p>
<h3>Leaf: [[${trust_chain.LeafSelfStatement.ClaimsSet.IssuerEntityID}]] ->
    [[${trust_chain.LeafSelfStatement.ClaimsSet.SubjectEntityID}]]</h3>
<div th:each="superior : ${trust_chain.getSuperiorStatements()}">
    <h4>Chain: [[${superior.ClaimsSet.IssuerEntityID}]] -> [[${superior.ClaimsSet.SubjectEntityID}]]</h4>
</div>
<h3>Trust anchor: [[${trust_chain.TrustAnchorEntityID}]]</h3>
</body>
</html>